h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#pepper_div{
    margin: auto;
    width: 50%;
}


#webcam_div{
    margin: auto;
    width: 50%;
}

#reload_button_div{
    margin: auto;
    width: 50%;
}



