h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#pepper_div{
    margin: auto;
    width: 800px;
}


#webcam_div{
    position: relative;
    margin: auto;
    width: 960px;
}

#shutter_button_div{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    bottom: -100px;

}
#up_button_div{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 120px;
    bottom: -100px;
}
#pre_button_div{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 240px;
    transform: rotate(-90deg);
    bottom: -100px;
}
#next_button_div
{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 360px;
    transform: rotate(90deg);
    bottom: -100px;
}
.loader {
  position: absolute;
  left:440px;
  top:230px;
  border: 10px solid #F0F0F0; 
  border-radius: 50%;
  border-top: 10px solid #000000;
  
  width:60px;
  height:60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  width: 144px;
  height: 80px;
  right: 0;
  bottom: -100px;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 64px;
  width: 64px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

#LED_toggle_lbl{
  position: absolute;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:40px;
    font-style: bold;
    right:155px;
    bottom: -85px;
}