
<!doctype html>
<html lang="en">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>


    <head>
        
        <title>Pepper Plants Website</title>  

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
        function get_new_image (){
	        $.post("/",
	        {
          	requestType: "RefreshImage"
        	},
	        function(data,status){
        		var image = document.getElementById('webcam_img');
        		image.src = "{{ url_for('static', filename='webcam.jpg') }}";
	        });
        }


        </script>

    </head>

    <body>
        <h1>Welcome to My Pepper Plant Website</h1>
        <p>This website is running on a BeagleBone Black using python/Flask</p>
        
        <div id="pepper_div">
            <img src="{{ url_for('static', filename='pepper.png') }}" alt="Webcam Image" width="100%">
        </div>

        <div id="webcam_div">
            <img src="{{ url_for('static', filename='webcam.jpg') }}" alt="Webcam Image" width="100%" id="webcam_img">    
        </div>

        <div id="reload_button_div">
            <img src="{{ url_for('static', filename='reload.png') }}" alt="Webcam Image"  id="reload_button_img" width="10%" onclick="get_new_image();">
        </div>
        
        
    </body>
</html>