
<!doctype html>
<html lang="en">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>


    <head>
        
        <title>Pepper Plants Website</title>  

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">

        var fetchingNewImage = false;
        function get_image (reqType){
            console.log(reqType)
            var image = document.getElementById("webcam_img");
            if (fetchingNewImage == false){
                loaderAnim.style.visibility='visible'
                fetchingNewImage = true;
                $.post("/",
                {
                    requestType: reqType,
                    imageName: image.src
                },
                function(data,status){
                    if (status == "success"){
                        console.log(data);
                        image.src = "{{ url_for('static', filename='webcam_images/') }}".concat(data);
                        fetchingNewImage = false;
                        loaderAnim.style.visibility='hidden'
                    }
                    
                });

            }

        }
        function get_LED_status(){
            console.log("LED_status")
            $.post("/",
            {
                requestType: "LEDStatus"
            },
            function(data,status){
                if (status == "success"){
                    console.log(data);
                    if (data == "ON"){
                        LED_Toggle.checked = true;
                    }
                    else{
                        LED_Toggle.checked = false;
                    };
                }
                
            });
        }
        function toggle_LED(){
            console.log("LED_TOGGLE")
            $.post("/",
            {
                requestType: "LEDToggle"
            },
            function(data,status){
                if (status == "success"){
                    get_LED_status();
                };
                
            });

        }

        </script>

    </head>

    <body>
        <h1>Welcome to My Pepper Plant Website</h1>
        <p>This website is running on a BeagleBone Black using python/Flask</p>
        
        <div id="pepper_div">
            <img src="{{ url_for('static', filename='pepper.png') }}" alt="Webcam Image" width="100%">
        </div>

        <div id="webcam_div">
            <img src="{{ url_for('static', filename='webcam_images/' + imgFileName) }}" alt="Webcam Image" width="100%" id="webcam_img">
            <div id ="shutter_button_div">
                
                <img src="{{ url_for('static', filename='camera_shutter.png') }}" alt="shutter icon"  id="reload_button_img" width="100%" onclick="get_image( 'RefreshImage');">
            </div>
            
            <div id ="up_button_div">
                
                <img src="{{ url_for('static', filename='arrow_up.png') }}" alt="up icon"  id="up_button_img" width="100%" onclick="get_image('LastImage');">
            </div>

            <div id ="pre_button_div">  
                <img src="{{ url_for('static', filename='arrow_up.png') }}" alt="pre icon"  id="pre_button_img" width="100%" onclick="get_image('PreImage');">
            </div>

            <div id ="next_button_div">  
                <img src="{{ url_for('static', filename='arrow_up.png') }}" alt="next icon"  id="next_button_img" width="100%" onclick="get_image('NextImage');">
            </div>

            <div id = "loader_anim" class="loader"></div>

            <script type="text/javascript">
                var loaderAnim = document.getElementById("loader_anim");
                loaderAnim.style.visibility='hidden'
            </script>

            <label class="switch" >
              <input id="LED_Toggle" type="checkbox" onchange="toggle_LED();">
              <div class="slider round"></div>
            </label>
            <label id = "LED_toggle_lbl">LED Switch</label>
            
            <script type="text/javascript">
                LED_Toggle = document.getElementById("LED_Toggle");
                get_LED_status();    
            </script>
                    
        
        </div>

         
        
    </body>
</html>